<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Detalle de Medico </h1>
    <ul>
        <li> Nombre : {{med.nombre }}</li>
        <li> Apellido : {{med.apellido }}</li>
        <li> Tipo Identificacion : {{med.tipo_identificacion }}</li>
        <li> Numero : {{med.numero_identificacion }}</li>
        <li> Registro : {{med.registro_medico }}</li>
        <li> Especialidad : {{med.especialidad }}</li>
    </ul>
</body>
</html>